@{
    ViewData["Title"] = "Home";
    var dataTeacher = ViewBag.data as IEnumerable<M_Person>;
    var countData = ViewBag.CountData as IEnumerable<M_Count>;
}

<section id="slider-container">

        <div class="kid-owl-slider">
            <div class="single-slide hs-item">
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 position-relative">
                                <div class="slider-content dis-table">
                                    <div class="dis-table-cell hs-content slide-content text-left">
                                        <h3>KIDSCHOOL </h3>
                                        <h1>NGÔI NHÀ MỚI</h1>
                                        <h2>GIÀNH CHO CON BẠN</h2>
                                        <a href="#" class="btn">Thông tin thêm</a>
                                    </div>
                                </div>
                                <div class="slider-img hs-content">
                                    <img src="~/assets/images/slider/1.png" alt="slider">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slide hs-item">
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 position-relative">
                                <div class="slider-content dis-table">
                                    <div class="dis-table-cell hs-content slide-content text-left">
                                        <h3>KIDSCHOOL </h3>
                                        <h1>NGÔI NHÀ MỚI</h1>
                                        <h2>GIÀNH CHO CON BẠN</h2>
                                        <a href="#" class="btn">Thông tin thêm</a>
                                    </div>
                                </div>
                                <div class="slider-img hs-content">
                                    <img src="~/assets/images/slider/1.png" alt="slider">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slide hs-item">
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 position-relative">
                                <div class="slider-content dis-table">
                                    <div class="dis-table-cell hs-content slide-content text-left">
                                        <h3>KIDSCHOOL </h3>
                                        <h1>NGÔI NHÀ MỚI</h1>
                                        <h2>GIÀNH CHO CON BẠN</h2>
                                        <a href="#" class="btn">Thông tin thêm</a>
                                    </div>
                                </div>
                                <div class="slider-img hs-content">
                                    <img src="~/assets/images/slider/1.png" alt="slider">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<div class="activities-area text-center pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <h2>Hoạt động nổi bật</h2>
                    <p>Ngoài việc học chúng tôi còn tổ chức nhiều hoạt động với phương châm chơi mà học - học mà chơi</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-activity mb-30">
                    <div class="activity-icon">
                        <img src="~/assets/images/activity/1.png" alt="activity">
                    </div>
                    <div class="activity-content">
                        <h3><a href="#">Giành cho giảng viên</a></h3>
                        <p>
                            Chúng tôi đem lại các hoạt động đa dạng thuộc nhiều lĩnh vực khác nhau, phù hợp với các giảng viên đang giảng dạy tại trường. Hằng năm luôn có các chuyến du
                            lịch trong và ngoài nước cùng với các buổi tập huấn chuyên ngành.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-activity mb-30">
                    <div class="activity-icon">
                        <img src="~/assets/images/activity/2.png" alt="activity">
                    </div>
                    <div class="activity-content">
                        <h3><a href="#">Thể thao</a></h3>
                        <p>Hằng năm trường luôn tổ chức cuộc thi thể thao vào mùa xuân và hè. Đảm bảo sức khỏa cho học sinh và giảng viên sau những giờ học tập căn thẳng</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-activity mb-30">
                    <div class="activity-icon">
                        <img src="~/assets/images/activity/3.png" alt="activity">
                    </div>
                    <div class="activity-content">
                        <h3><a href="#">Dịch vụ đưa đón</a></h3>
                        <p>Chúng tôi cung cấp dịch vụ đưa đón cho các bạn học sinh trong nội thành và các vùng gần trường không quá 10km</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-activity mb-30">
                    <div class="activity-icon">
                        <img src="~/assets/images/activity/4.png" alt="activity">
                    </div>
                    <div class="activity-content">
                        <h3><a href="#">Câu lạc bộ âm nhạc</a></h3>
                        <p>
                            Bên cạnh các hoạt động thể thao, nhà trường còn thành lập câu lạc bộ âm nhạc để đáp ứng niềm đam mê của các bạn học sinh có mong muốn hoặc hứng thú với âm nhạc có một nơi
                            để trải nghiệm
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-activity mb-30">
                    <div class="activity-icon">
                        <img src="~/assets/images/activity/5.png" alt="activity">
                    </div>
                    <div class="activity-content">
                        <h3><a href="#">Ngôn ngữ</a></h3>
                        <p>Trường của chúng tôi có các bạn học sinh đến từ nhiều nơi trên thế giới với sự đa dạng về ngôn ngữ, màu da và cả văn hóa. Đến với chúng tôi bạn có thể tiếp xúc với nhiều thứ mới lạ trên thế giới </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-activity">
                    <div class="activity-icon">
                        <img src="~/assets/images/activity/6.png" alt="activity">
                    </div>
                    <div class="activity-content">
                        <h3><a href="#">Thức ăn</a></h3>
                        <p>
                            Nhà trờng hỗ trợ bữa trưa cho tất cả học sinh với đội ngũ chuyên viên nghiên cứu đầy đủ dinh dưỡng.
                            thực phẩm tươi sống đầy đủ sinh dưỡng đảm bảo an toàn thực phẩm
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="project-area pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>Hình ảnh</h2>
                    <p>
                        Thư viện của trường được đầu tư với hàng nghìn đầu sách mới thuộc nhiều lĩnh vực và ngôn ngữ khác nhau. Không gian thoán mát sẽ tạo nên một
                        nơi phù hợp với những bạn có niềm đam mê với sách
                    </p>
                </div>
            </div>
        </div>
        <div class="inner">
            <div class="portfolio-menu mb-40 text-center">
                <button class="active" data-filter="*">
                    Tất cả
                </button>
                <button data-filter=".cat1">Sáng tạo</button>
                <button data-filter=".cat2">Thể thao</button>
                <button data-filter=".cat3">Lớp học</button>
                <button data-filter=".cat4">Video</button>
            </div>
            <div class="grid row">
                <div class="col-md-3 col-12 col-12 grid-item cat1 cat3">
                    <div class="portfolio-img">
                        <img src="~/assets/images/portfolio/1.jpg" alt="project">
                        <div class="portfolio-hover">
                            <a class="img-poppu" href="~/assets/images/portfolio/1.jpg">
                                <i class="icofont icofont-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12 col-12 grid-item cat2 cat4">
                    <div class="portfolio-img">
                        <img src="~/assets/images/portfolio/2.jpg" alt="project">
                        <div class="portfolio-hover">
                            <a class="img-poppu" href="~/assets/images/portfolio/2.jpg">
                                <i class="icofont icofont-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12 col-12 grid-item cat1 cat4">
                    <div class="portfolio-img">
                        <img src="~/assets/images/portfolio/4.jpg" alt="project">
                        <div class="portfolio-hover">
                            <a class="img-poppu" href="~/assets/images/portfolio/4.jpg">
                                <i class="icofont icofont-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12 col-12 grid-item cat2">
                    <div class="portfolio-img">
                        <img src="~/assets/images/portfolio/6.jpg" alt="project">
                        <div class="portfolio-hover">
                            <a class="img-poppu" href="~/assets/images/portfolio/6.jpg">
                                <i class="icofont icofont-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12 col-12 grid-item cat2 cat3">
                    <div class="portfolio-img">
                        <img src="~/assets/images/portfolio/3.jpg" alt="project">
                        <div class="portfolio-hover">
                            <a class="img-poppu" href="~/assets/images/portfolio/3.jpg">
                                <i class="icofont icofont-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12 col-12 grid-item cat1 cat3">
                    <div class="portfolio-img">
                        <img src="~/assets/images/portfolio/5.jpg" alt="project">
                        <div class="portfolio-hover">
                            <a class="img-poppu" href="~/assets/images/portfolio/5.jpg">
                                <i class="icofont icofont-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="load text-center">
                <a class="hvr-bounce-to-right" href="#">Xem thêm</a>
            </div>
        </div>
    </div>
</div>
<div class="fun-area pt-90 pb-85">
    <div class="container">
        <div class="row">
            @foreach (var item in countData)
            {
                if (item.name == "teacher")
                {

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-fun text-center">
                            <div class="fun-img">
                                <img src="~/assets/images/fun/1.png" alt="fun">
                            </div>
                            <div class="fun-content">
                                <h3 class="counter">@item.count</h3>
                                <h5>giảng viên &amp; nhân viên</h5>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-fun text-center">
                            <div class="fun-img">
                                <img src="~/assets/images/fun/2.png" alt="fun">
                            </div>
                            <div class="fun-content">
                                <h3 class="counter">@item.count</h3>
                                <h5>học sinh đã đăng ký</h5>
                            </div>
                        </div>
                    </div>
                }
            }
            <div class="col-lg-3 col-sm-6">
                <div class="single-fun text-center">
                    <div class="fun-img">
                        <img src="~/assets/images/fun/3.png" alt="fun">
                    </div>
                    <div class="fun-content">
                        <h3 class="counter">@ViewBag.SumData</h3>
                        <h5>học sinh và nhân viên</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-fun text-center">
                    <div class="fun-img">
                        <img src="~/assets/images/fun/4.png" alt="fun">
                    </div>
                    <div class="fun-content">
                        <h3 class="counter">12</h3>
                        <h5>lớp</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="teacher-area text-center pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <h2>Giảng viên</h2>
                    <p>Đội ngữ giảng viên trẻ nhiệt huyết, tân tậm và kiến thức chuyên môn vững vàng</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="teacher-owl">
                @foreach (var item in dataTeacher)
                {
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="single-teacher">
                            <div class="teacher-img">
                                <img src=@item.avatarUrl alt="teacher" style="width:269.99px; height:360px;object-fit:cover">
                                <div class="teacher-content">
                                    <h3>@item.lastName @item.firstName</h3>
                                    <p>English Teacher</p>
                                    <div class="teacher-hover">
                                        <ul>
                                            <li><a href="https://www.facebook.com/"><i class="icofont icofont-social-facebook"></i></a></li>
                                            <li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
                                            <li><a href="https://www.pinterest.com/"><i class="icofont icofont-social-pinterest"></i></a></li>
                                            <li><a href="https://twitter.com/"><i class="icofont icofont-social-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="events-area pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <h2>Các sự kiện trong năm</h2>
                    <p>Trong năm trường chúng tôi tổ chức hơn 10 hoạt động và các buổi giaoa lưu trao đổi học viên với các trường trên toàn thế giới</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="event-owl">
                        <div class="col-xs-12">
                            <div class="single-event">
                                <div class="event-img">
                                    <img src="~/assets/images/event/1.jpg" alt="event">
                                    <div class="event-hover">
                                        <a href="event.html" target="_blank"><i class="icofont icofont-link-alt"></i></a>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <h3><a href="#">sport day </a><span>21 Feb</span></h3>
                                    <p>
                                        Là ngày hội thể thao truyền thống giao lưu với các trường trong khu vực
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="single-event">
                                <div class="event-img">
                                    <img src="~/assets/images/event/2.jpg" alt="event">
                                    <div class="event-hover">
                                        <a href="event.html" target="_blank"><i class="icofont icofont-link-alt"></i></a>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <h3><a href="#">colors day </a><span>29 Feb</span></h3>
                                    <p>
                                        Đây là ngày mà các thành viên của đại gia đình thỏa sức sáng tạo với những màu sắc tuyệt vời
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="single-event">
                                <div class="event-img">
                                    <img src="~/assets/images/event/1.jpg" alt="event">
                                    <div class="event-hover">
                                        <a href="event.html" target="_blank"><i class="icofont icofont-link-alt"></i></a>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <h3><a href="#">sport day </a><span>21 Feb</span></h3>
                                    <p>
                                        Là ngày hội thể thao truyền thống giao lưu với các trường trong khu vực
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="single-event">
                                <div class="event-img">
                                    <img src="~/assets/images/event/2.jpg" alt="event">
                                    <div class="event-hover">
                                        <a href="event.html" target="_blank"><i class="icofont icofont-link-alt"></i></a>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <h3><a href="#">colors day </a><span>29 Feb</span></h3>
                                    <p>
                                        Đây là ngày mà các thành viên của đại gia đình thỏa sức sáng tạo với những màu sắc tuyệt vời
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="single-event">
                                <div class="event-img">
                                    <img src="~/assets/images/event/1.jpg" alt="event">
                                    <div class="event-hover">
                                        <a href="event.html" target="_blank"><i class="icofont icofont-link-alt"></i></a>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <h3><a href="#">sport day </a><span>21 Feb</span></h3>
                                    <p>
                                        Là ngày hội thể thao truyền thống giao lưu với các trường trong khu vực
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="single-event">
                                <div class="event-img">
                                    <img src="~/assets/images/event/2.jpg" alt="event">
                                    <div class="event-hover">
                                        <a href="event.html" target="_blank"><i class="icofont icofont-link-alt"></i></a>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <h3><a href="#">colors day </a><span>29 Feb</span></h3>
                                    <p>
                                        Đây là ngày mà các thành viên của đại gia đình thỏa sức sáng tạo với những màu sắc tuyệt vời
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="event-right text-center">
                    <h2>our next events</h2>
                    <p>many varieations of passages Lorem Ipsum available</p>
                    <div class="single-right">
                        <h4>parents day</h4>
                        <p>20-feb-2017, at 10am to 4pm</p>
                    </div>
                    <div class="single-right">
                        <h4>study tour</h4>
                        <p>19-march-2017 to 21-march-2017</p>
                    </div>
                    <div class="single-right">
                        <h4>summer sports</h4>
                        <p>25-april-2017 to 29-april-2017</p>
                    </div>
                    <div class="single-right">
                        <h4>teachers day</h4>
                        <p>17-may-2017, at 10am to 4am</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonial-area pt-88 pb-85 text-center">
    <div class="container">
        <div class="row">
            <div class="testimonial-owl">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
                    <div class="single-testimonial">
                        <h2>Nhận xét của phụ huynh</h2>
                        <p>Con của tôi đã được tiếp cận với phương thức giáo dục hiện đại và quen biết thêm nhiều bạn mới </p>
                        <h4>Maksud reza</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="classes-area text-center pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <h2>Các lớp học</h2>
                    <p>Có nhiều lớp học đa dạng phù hớp với nhiều lứa tuổi</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-class text-center">
                    <div class="class-img">
                        <img src="~/assets/images/class/1.jpg" alt="class">
                        <div class="event-hover">
                            <a class="img-poppu" href="~/assets/images/class/1.jpg"><i class="icofont icofont-link-alt"></i></a>
                        </div>
                    </div>
                    <div class="class-content">
                        <h3>little lambs</h3>
                        <ul>
                            <li>Tuổi<span>3-4</span></li>
                            <li>Số luượng<span>24</span></li>
                            <li>phí<span>270$</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-class text-center">
                    <div class="class-img">
                        <img src="~/assets/images/class/2.jpg" alt="class">
                        <div class="event-hover">
                            <a class="img-poppu" href="~/assets/images/class/2.jpg"><i class="icofont icofont-link-alt"></i></a>
                        </div>
                    </div>
                    <div class="class-content">
                        <h3>little lambs</h3>
                        <ul>
                            <li>Tuổi<span>3-4</span></li>
                            <li>Số luượng<span>24</span></li>
                            <li>phí<span>270$</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-sm col-xs-12">
                <div class="single-class text-center">
                    <div class="class-img">
                        <img src="~/assets/images/class/3.jpg" alt="class">
                        <div class="event-hover">
                            <a class="img-poppu" href="~/assets/images/class/3.jpg"><i class="icofont icofont-link-alt"></i></a>
                        </div>
                    </div>
                    <div class="class-content">
                        <h3>little lambs</h3>
                        <ul>
                            <li>Tuổi<span>3-4</span></li>
                            <li>Số luượng<span>24</span></li>
                            <li>phí<span>270$</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-area text-center pt-90 pb-83">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <h2>liên hệ nhanh</h2>
                    <p>Nếu bạn muốn được tư vấn hãy liên hệ với chúng tôi</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-contact">
                    <div class="contact-icon">
                        <img src="~/assets/images/contact/1.png" alt="contact">
                    </div>
                    <div class="contact-info">
                        <h5>Địa chỉ</h5>
                        <p>Address: Your address goes here.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-contact">
                    <div class="contact-icon">
                        <img src="~/assets/images/contact/2.png" alt="contact">
                    </div>
                    <div class="contact-info">
                        <h5>Số điện thoại</h5>
                        <p>
                            0123456789<br>
                            0123456789
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-contact">
                    <div class="contact-icon">
                        <img src="~/assets/images/contact/3.png" alt="contact">
                    </div>
                    <div class="contact-info">
                        <h5>Địa chỉ email</h5>
                        <p>
                            demo@gmail.com<br>
                            demo@gmail.com
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-contact">
                    <div class="contact-icon">
                        <img src="~/assets/images/contact/4.png" alt="contact">
                    </div>
                    <div class="contact-info">
                        <h5>thời gian hoạt động</h5>
                        <p>
                            8am - 5pm, thứ hai - thứ sáu<br>
                            9am - 1am thứ bảy
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>