@{
    ViewData["Title"] = "Category";

    var dataNews = ViewBag.DataNews as IEnumerable<M_News>;
}
@section Styles{
    <partial name="_P_StylesTableAndFormBasic" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
}
@section Scripts{
    <partial name="_P_ScriptsTableAndFormBasic" />
    <script src="~/js/site.js" asp-append-version="true"></script>
}

<div class="banner-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="banner-content-wrapper">
                    <div class="banner-content">
                        <h2>Tin Mới</h2>
                        <div class="banner-breadcrumb">
                            <ul>
                                <li><a href="index.html">Trang chủ </a> /</li>
                                <li>Tin tức</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="events-area pt-90 pb-90 single">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <h2>@ViewBag.Name</h2>
                    <p>Tin tức mới nhất gần đây</p>
                </div>
            </div>
        </div>
        <div class="inner">
            <div class="container">
                <div class="row">
                    @if (dataNews != null)
                    {
                        @foreach (var item in dataNews)
                        {
                            <div class="col-xs-12 col-sm-4">
                                <div class="card">
                                    <a class="img-card" href="https://inlikeme.com/wp-content/uploads/2019/05/Messages-Image458805902.jpeg">
                                        <img src="https://inlikeme.com/wp-content/uploads/2019/05/Messages-Image458805902.jpeg" />
                                    </a>
                                    <div class="card-content">
                                        <h4 class="card-title">
                                            <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                                                @item.Title
                                            </a>
                                        </h4>
                                        <p class="">
                                            @item.Description
                                        </p>
                                    </div>
                                    <div class="card-read-more">
                                        <a type="button" asp-controller="Category" asp-action="NewsView" asp-route-id="@item.Id" asp-route-categoryid="@item.NewsCategoryId" class="btn btn-link btn-block">
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>Không có thông tin hiển thị</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
